bind 0.0.0.0
requirepass "{{ redis_password }}"
masterauth "{{ redis_password }}"
{% if inventory_hostname != groups['redis'][0] %}
replicaof {{ hostvars[groups['redis'][0]]['ansible_host'] }} 6379
{% endif %}
